
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
    cursor: none;
    overflow: hidden;
    font-size: 10px;
}

body {
    background-color: rgba(33,33,33,1.0);

    font-family: 'Roboto';
    color: rgb(255,255,255);

    margin: 40px;

    font-size: 2em;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;

}

.title {
    font-size: 4em;
    margin-bottom: 15px;
}

.sub-title {
    font-size: 1em;
    margin-bottom: -10px;
}

.transport-time{
    font-size: 0.7em;
    margin-top: -20px;
}

.news-short{
    margin-top: 10px;
    font-size: 0.7em;
    line-height: 1.3em;
}

.sub-sub-title{
    margin-top: 10px;
    font-size: 0.8em;
    line-height: 1.3em;
}

.news-field{
    margin-top: -10px;
}

.news-panel{
    height: 90px;
}

.transport-timetable{
    margin-top: -10px;
    padding-bottom: 20px;
}

.line-schedule{
    height: 90px;
}

.icons {
    display: inline;
}

.time-icon{
    font-size: 0.8em
}

.center-message{
    font-size: 1.1em;
}

#day-summary {
}

#weather-panel {
    height: 300px;    
}

#clock-panel {
    padding-top: 21px;
}

#message-panel {
    height: 300px;    
}

#news-panel{
    height: 280px;
}

#transport-panel {
    height: 280px;
}





